body {
    padding: 0 10px 0 10px;
    background-color: #f0f9fc;
}

.container {
    max-width: 1320px;
    margin: auto;
    background: #e0e0e0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 10px #c0c0c0, -5px -5px 10px #ffffff;
    
    padding: 20px;
}

// SVG
.available-svg {
    fill: rgba(0, 128, 0, 0);
    &:hover {
        stroke: green;
        stroke-width: 4px;
        fill: rgb(0 128 8 / 44%);
        cursor: pointer;
    }   
}

.unavailable-svg {
    fill: rgba(0, 128, 0, 0);
    &:hover {
        stroke: red;
        stroke-width: 4px;
        fill: rgb(255 0 0 / 36%);
        cursor: not-allowed;
    }
}

.info-block {
    padding-left: 20px;
    min-width: 250px;
    & .inset-neomo {
        padding: 10px;
    }

    & .info-block__description {
        max-width: 230px;
        min-height: 18px;
    }
}
