<header>
    <div class="container outset-neomo">
        <a href="company-name.html"><img class="logo" src="/assets/img/logo-2.png" alt="logo"></a>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>

            <li class="dropdown"><button class="dropdown-button outset-neomo">
                Our Projects
              <i class="f fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="project__northern-street.html">Northern Street</a>
              <a href="#">In Progress..</a>
            </div></li>

            <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Terms and conditions</a></li>
            
            <li class="nav-item"><a class="nav-link disabled">Disabled</a></li>
        </ul>
    </div>
</header>

